@{
    ViewData["Title"] = "About";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>@ViewData["Message"]</h2>

    <p>@ViewData["Professor"]</p>

    <address>
        <strong>More information: </strong> <a href="http://educandoweb.com.br">Educando Web</a>
    </address>
</div>
